/* .linear{
    text-align: center;
    height: 200px;
    background: linear-gradient(to right, rgb(153, 179, 153),rgb(0, 255, 0)
    );
} */


.linear{
    
    text-align: center;
    height: 300px;
   
    background: linear-gradient(orange, white,green
    );
}

.radial{
    height: 600px;
    width: 600px;
    background: radial-gradient(circle at right bottom,orange ,rgb(206, 251, 60),hsl(303, 100%, 51%));
}

.conic{

  height: 500px;
  width: 500px;
  background: conic-gradient(rgb(230, 46, 46),rgb(27, 27, 233),rgb(255, 18, 168),rgb(8, 202, 92)) ;
}