.b_img1{
    width: 400px;
    border: 8px solid rgb(242, 202, 133);
}

.b_img2{
     width: 400px;
    border: 4px dashed rgb(85, 46, 46);
}
.b_img3{
    width: 400px;
    border: 6px dotted rgb(212, 35, 35);
}
.b_img4{
    width: 450px;
    border: 12px inset rgb(49, 100, 201);
}
.b_img5{
    width: 450px;
    border: 12px outset rgb(48, 49, 49);
}
.b_img6{
    width: 450px;
    border: 12px groove rgb(48, 49, 49);
}
.b_img7{
    width: 450px;
    border-width: 13px;
    border-top-color: rgb(195, 93, 15);
    border-style: double;
    border-right-color:rgb(165, 204, 22) ;
    border-bottom-color:red ;
    border-left-color:rgb(200, 182, 21) ;
    
}
.header{
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}

.logo{
    width: 70px;
    border-style: double;
    border-color: red black ;
    border-radius: 500px;
    padding: 7px;
    margin: 20px;
  

}
.b_img9{
    width: 450;
    border-style: double;
    border-color: rgb(87, 210, 247) rgb(204, 22, 22) orange blue;
    border-radius:50px  250px 50px 250px;
}