body{
    background-color: rgb(237, 232, 232);
}

.f_family1{
    font-family: monospace;
}

.f_family2{
    font-family:cursive;
}
.f_family3{
    font-family:sans-serif ;
}
.f_family4{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f_family5{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
     font-style: italic;
    
}
.f_font{
    font: bolder 70px italic sans-serif  ;
}