body{
    background-color: rgb(181, 168, 168);
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
}


@media only screen and (min-width:320px) and (max-width:767px){
 body{
    background-color: rgb(199, 93, 93);
    padding: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }
 h1{
    font-size: x-large;
    color: aquamarine;
 }
 img{
    display: none;
    
    
 }
}


@media (min-width:800px)and (max-width:1000px){
    body{
        background-color: aquamarine;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        
   
    }

    h1 ,h2 {
        background-color: rgb(29, 178, 178);
    }
    p{
        font-size: xx-large;
    }


    img{
        padding: 200px;
    }
}

@media (min-width:1050px)and (max-width:2000px){
    body{
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
    }

    p{
        background-color: bisque;
    }

    h1,h2{
        background-color: blueviolet;
    }
}