ul{
    width: 200px;
    padding: 10px;
   list-style: none;
   font-weight: 900;
   font-size: 30px;
   background-color: grey;
   
}
li{
  padding: 10px;
  border: 4px solid green;
  border-radius: 10px;
  margin: 15px;
  background-color: rgb(30, 236, 255);

}
li:nth-child(even){
    background-color: rgb(233, 27, 27);
}
li:first-child{
    background-color: yellow;
}
li:last-child{
    background-color: green;
}
li:nth-child(5){
background-color: black;
color: white;
}