.box{
    width: 300px;
    height: 200px;
    background-color: rgb(203, 196, 196);
    border: 4px solid black;
    margin: 10px;
    font-size: 20px;
   
}
.box1{
    position: static;
}
.box2{
    position: relative;
   top: 30px;
  
}
.box3{
    position: absolute;
    top: 60px;
    right: 0px;
    
}
.box4{
    position: fixed;
    right: 0px;
    bottom: 30px;
    
}
.box5{
    position: sticky;
   top:0px;
   
    
}