/* div{
    width: 150px;
    height: 150px;
    background-color: rgb(250, 51, 51);
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    animation: movingbox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
}

@keyframes movingbox{
    0%{background-color: red;left: 0px;top: 0px;}
    25%{background-color: rgb(0, 255, 140);left: 300px;top: 0px;}
    50%{background-color: rgb(141, 250, 16);left: 300px;top: 300px;}
    75%{background-color: rgb(21, 0, 255);left: 0px;top: 300px;}
    100%{background-color: red;left: 0px;top: 0px;}
} */

.div1{
    width: 250px;
    height: 300px;
   margin: 5px;

    border: 3px solid black;
   border-radius: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    animation: moving;
    animation-duration: 10s;
    animation-iteration-count: 5;
    animation-direction: reverse;
    animation-delay: 0s;
}

@keyframes moving{
   0%{background-image: url(/images/butterfly\ \(1\).jpg);left: 0px;top: 0px;}
   25%{background-image: url(/images/bird_imresizer.jpg);left: 300px;top: 0px;}
   50%{background-image: url(/images/parot_imresizer.jpg);left: 300px;top: 300px;}
   75%{background-image: url(/images/peacock_imresizer.jpg);left: 0px;top: 300px;}
   100%{background-image: url(/images/butterfly\ \(1\).jpg);left: 0px;top: 0px;}
}

.div2{
    width: 250px;
    height: 300px;
   margin: 5px;

    border: 3px solid black;
   border-radius: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    animation: movingbox;
    animation-duration: 10s;
    animation-iteration-count: 5;
    animation-direction: alternate-reverse;
    animation-delay: 0s;
}

@keyframes movingbox{
   0%{background-image: url(/images/butterfly\ \(1\).jpg);left: 0px;top: 0px;}
   25%{background-image: url(/images/bird_imresizer.jpg);left: 300px;top: 0px;}
   50%{background-image: url(/images/parot_imresizer.jpg);left: 300px;top: 300px;}
   75%{background-image: url(/images/peacock_imresizer.jpg);left:0px;top: 300px;}
   100%{background-image: url(/images/butterfly\ \(1\).jpg);left: 0px;top: 0px;}
}